body {
    margin: 0;
    padding: 0;
}
#header {
    background-color: aliceblue;
}
#navbar li {
    display: inline-block;
    margin-left: 25px;
}
#navbar li a {
    text-decoration: none;
    color: black;
}
